{% extends 'base_public.html' %}
{% load static %}
{% block title %}Definir Nova Senha{% endblock %}

{% block content %}
<div class="login-box">
    <h2>Definir Nova Senha</h2>
    {% if validlink %}
        <p>Por favor, defina sua nova senha.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-principal">Alterar Senha</button>
        </form>
    {% else %}
        <p>O link para redefinição de senha é inválido, provavelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
        <a href="{% url 'APP:password_reset' %}" style="display: block; text-align: center; margin-top: 1rem;">Solicitar novamente</a>
    {% endif %}
</div>
{% endblock %}